@font-face {
  font-family: 'League Spartan';
  src: url('https://raw.githubusercontent.com/theleagueof/league-spartan/master/_webfonts/leaguespartan-bold.woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
}

body, pre {
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', sans-serif;
}

.header {
  width: 100%;
  color: #F5F5F5;
  background-color: #C63D57;
}

.header h1 {
  font-family: 'League Spartan', 'Product Sans', sans-serif;
  text-align: right;
}

.footer td {
  padding: 8px 16px;
}

b, p {
  white-space: pre-wrap;
  text-align: justify;
}

p, h2, pre {
  padding: 2px 16px;
}

.center {
  margin: 0 auto;
}
